
body {
  width:100%;
  height:100%;
  display: flex;
  flex-direction: column;

}


.red{
  background-color:#D4001B;

}

.body-content{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.content-page{

}

.container-content{
  margin-top: 50px;
  margin-bottom: 50px;

}
.homebrew{
  display: none;
  visibility:hidden;
}



.duolingo{
  display:none;
  line-height: auto;
  visibility:hidden;
}
.nav-col-2{

  margin-top: 10px;
}

.nav-col-1{
  margin-top: 27.047px;
}

.link a{
  padding-left: 8.088px;
  padding-top: 4px;
  padding-bottom: 2.5px;
  padding-right:5px;
}





.side-bar-content{
	margin-top: 15.832px;
  margin-left: 27.7px;
}

.bottom{
  margin-left: 27.7px;

}

h1{
  font-family: 'NeutrafaceBold';
  font-size: 18px;
  letter-spacing: 0px;
  margin: 0;
}
h2{
  font-family: 'NeutrafaceBold';
  font-size: 30px;
  letter-spacing: 4px;
}
p{
  font-family: 'NeutrafaceLight';
  font-size: 13px;
  letter-spacing: 1px;
  line-height: 15.6px;
  width:260px;
}

.bottom a{
  text-decoration: none;
  color:#000;
  margin-right: 50px;
}

.bottom a:hover{
  color:#8C888A;
}


.bottomMost{
	border-top: 1px solid rgb(200,200,200);
  margin-top: 20px;
}

.body-content img{
  width: 260.611px;
  height:259.983px;
}

footer{

}
footer div{
  display: flex;
  justify-content:   flex-end;
}

footer p{
	font-size: 8pt;
	color: grey;

}

footer p a{
	text-decoration: none;
	color:grey;
}
footer p a:hover{
	text-decoration: underline;
	color:grey;
}



a.animated-button.thar-three {
	color: #000;
	cursor: pointer;
	display: block;
	position: relative;
  text-decoration: none;
	transition: all 0.4s cubic-bezier(0.42, 0, 0.58, 1);
0s;
}
a.animated-button.thar-three:hover {
	color: #fff !important;
	background-color: transparent;
	text-shadow: nthree;
}
a.animated-button.thar-three:hover:before {
	left: 0%;
	right: auto;
	width: 100%;
}
a.animated-button.thar-three:before {
	display: block;
	position: absolute;
	top: 0px;
	right: 0px;
	height: 100%;
	width: 0px;
	z-index: -1;
	content: '';
	color: #000 !important;
	background: #D4001B;
	transition: all 0.4s cubic-bezier(0.42, 0, 0.58, 1);
0s;
}
